h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    color: #584B53;
    background-color:#FEF5EF;
    margin-top: auto;
    margin-bottom: auto;
  }

  .text-muted {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    color: #584B53;
    background-color:#FEF5EF;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
  }

#portfolio {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: #FEF5EF;
    padding: 20%;
  vertical-align: middle;
  line-height: 100px;
  margin: 10px 10px 0 0; */
    padding: 5px 10px
  margin-top: auto;
    margin-bottom: auto;

}

  /* .breadcrumb {
      border-style: solid;
      border-color: #F2F5FF;
      color: #343434;
  } */

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    padding: 2%;
  }

  .nav nav-pills nav-stacked {
      margin: auto;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    /* display: block; */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }

  body {
    padding-top: 100px; /* This should be equal to the height of your header */
    background-color: khaki;
}

#about-me {
    font-size: 70px;
    display: inline-block;
    text-align: center;
    margin-top: -150%;
}

